body{
  margin: 0 auto;
}

.firstAlbum,.secondAlbum,.thirdAlbum,.fourthAlbum,
.fifthAlbum,.sixthAlbum,.seventhAlbum,.eightAlbum,.ninthAlbum.tenthAlbum {
  display: flex;
  justify-content: space-between;
}

.song-name{
  font-size: 1.2em;
  background-color: rgb(36, 197, 238);
  border: 1px solid grey;
  border-radius: 4px;
  text-align: center;
  width: 20%;
  height: 100px;
}

.album-name{
  font-size: 14px;
  width: 100px;
}